.footer{
    position: absolute;
    bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #855cb5;
    color: #f1f4f9;
    height: 250px;
    width: 100%;
}

.footer .slogan {
    margin-top: 1.4rem;
    text-align: center;
    font-weight: 700;
}

.footer .slogan h2 {
    font-size: 2rem !important;
}
.footer .slogan p {
    font-size: 1.2rem !important;
    font-style: italic;
}

.footer .contacto p {
    margin-top: 5px;
    font-size: 1rem !important;
    text-align: center;
    line-height: 10px;
    font-weight: 700;
}

.footer .redes {
    text-align: center;
    margin-top: 5px;
}

.footer .redes a {
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
    width: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #f1f4f9;
    border-radius: 50%;
}
