<div class="footer">
    <div class="container">
        <div class="row">
            <div class="slogan col-md-12">
                <h2>BictiaFilms</h2>
                <p>Descrube grandes historias y aventuras</p>
            </div>
        </div>
        <div class="row">
            <div class="contacto col-md-3 col-sm-6">
                <p>Contactanos</p>
            </div>
            <div class="contacto col-md-3 col-sm-6">
                <p>Calle 35 #5 – 15 </p>
            </div>
            <div class="contacto col-md-3 col-sm-6">
                <p>(57) 1 703 59 95</p>
            </div>
            <div class="contacto col-md-3 col-sm-6">
                <p>info@bictia.com</p>
            </div>
        </div>
        <div class="row">
            <div class="redes col-md-12">
                <a href="https://www.facebook.com/Bictia" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/bictia/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/bictia" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UC1i0606gjXyHKTB_FZxcKiA" class="youtube"  target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

    </div>
</div>
