<section class="movie-list" *ngIf="!loading">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div *ngFor="let i of filmList" class="card">
        <div class="card-header" id="{{i._id}}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#{{i.collapse}}"
              aria-expanded="true" [attr.aria-controls]="i.collapse">
              {{i.name}}
            </button>
          </h2>
        </div>
        <div id="{{i.collapse}}" class="collapse" [attr.aria-labelledby]="i._id" data-parent="#accordionExample">
          <div class="film-container">
            <img class="film-card-poster" src="{{i.image}}" alt="Movie poster image">
            <p class="film-card-description">{{i.sinapsis}}</p>
          </div>
          <div class="film-actions">
            <button class="btn btn-primary" value="{{i._id}}">Actualizar</button>
            <button class="btn btn-danger" value="{{i._id}}">Eliminar</button>
          </div>
          <br>
        </div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button id="add-film-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</section>

<!-- Modal -->
<div *ngIf="!loading" class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="add-film-form" #addFilmForm="ngForm" (ngSubmit)="createFilm()">
        <label for="filmcollapse">Nombre</label>
        <input name="filmcollapse" collapse="filmcollapse" #name="ngModel" [(ngModel)]="film.name" type="text"
          placeholder="Nombre del film" #name>
        <br>
        <label for="filmdate">Fecha de lanzamiento</label>
        <input name="filmdate" collapse="filmdate" #date="ngModel" [(ngModel)]="film.date" type="date"
          placeholder="Fecha del lanzamiento de la pelicula" #date>
        <br>
        <label for="filmUrl">URL pelicula</label>
        <input name="filmUrl" collapse="filmUrl" #url="ngModel" [(ngModel)]="film.url" type="text"
          placeholder="URL del video" #collapsedisc>
        <br>
        <div class="upload-collapse">
          <label for="collapse">collapsen/poster peliculas</label>
          <input name="collapse" collapse="collapse" type="file" accept="image/*" (change)="onPhotoSelected($event)"
            #photoInput hidden>
          <div class="submit-1">
            <button type="button" class="btn-submit" (click)="photoInput.click($event)">
              Agregar Foto
            </button>
          </div>
          <div class="submit-2">
            <img [src]="photoSelected || '/assets/img/waiting.gif'" class="img-fluid" alt="No collapse">
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="sinopsis">Sinpsis pelicula</label>
          <textarea name="sinopsis" collapse='sinopsis' class="form-control" #sinopsis="ngModel"
            [(ngModel)]="film.sinapsis" id="sinopsis" rows="3"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loading" class="loading">
  <img src="https://media.giphy.com/media/l0GRk3KHYv2W6hmJG/giphy.gif" alt="loading state">
</div>
