<div class="cont">
    <div class="main">
        <div class="title">
            <img src="../../../assets/img/logo.png" alt="logo">
        </div>

        <form (ngSubmit)="login()" [formGroup]="form">
            <div class="control">
                <label for="">Email: </label>
                <input class="form-control" type="text" formControlName="email">
            </div>
            <div class="control">
                <label for="">Password: </label>
                <input class="form-control" type="password" formControlName="password">
            </div>

            <button class="btn btn-primary btn-block" type="submit">Ingresar</button>

            <p>¿No tienes cuenta aún? <a [routerLink]="['/registro']">Registrate aquí!</a></p>

        </form>
    </div>
</div>
