/*  purple 855cb5
    gray  e9ecef */

* {
    font-family: 'Open Sans', sans-serif;
}

.main {
    margin: 0 0 5rem;
    padding: 2rem;
    width: 100%;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    text-align: center;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: red;
    padding: 20px;
    margin: 10px
}

.profile {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
    background: none;
}

.profile p{
  align-self: center;
}

img {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}

img:hover {
    filter: opacity(70%);
}

a {
    align-self: center;
    background: #acf171;
    width: 20rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
}
