<section class="user-managment">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Administradores</h5>
      <h6 class="card-subtitle mb-2 text-muted">Adminstra usuarios con permisos superiores</h6>
      <p class="card-text">
        Actualiza, elimina o crea usuarios de rol administrador (Solo aquí podras crearlos).
      </p>
      <button class="cbutton" (click)="showAdmins()"> Acceder </button>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Padres</h5>
      <h6 class="card-subtitle mb-2 text-muted">Lista usuarios registrados (Padres) </h6>
      <p class="card-text">
        Revisa los padres registrados y sus respectivos ID's.
      </p>
      <button class="cbutton" (click)="showParents()"> Acceder </button>
    </div>
  </div>
</section>


<section *ngIf="parents" class="user-list">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of parentList">
        <td>{{i._id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="admins" class="admin-ui">
  <div class="create-admin">
    <button class="cbutton" type="button" data-toggle="modal" data-target="#staticBackdrop">Crear admin</button>
  </div>
  <table class=" table user-list">
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Correo</th>
        <th scope="col-4">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of adminList">
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>
          <button class="cbutton" value="{{i._id}}" class="user-actions"> Actualizar </button>
          <br>
          <button class="cbutton" value="{{i._id}}" class="user-actions btn-danger"> Eliminar </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h3>Crear Amdministrador</h3>
      <form class="form-group" [formGroup]="adminForm" (ngSubmit)="createAdmin()">
        <div class="form-group">
          <label for="name" class="control-label col-md-6"> Nombre: </label>
          <div class="col-md-12">
            <input class="form-control" type="text" formControlName="name">
          </div>
        </div>
        <div class="form-group">
          <label for="lastName" class="control-label col-md-6">Apellido: </label>
          <div class="col-md-12">
            <input class="form-control" type="text" name="lastName" id="lastName" formControlName="lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="control-label col-md-6">Correo Electrónico: </label>
          <div class="col-md-12">
            <input class="form-control" type="text" name="email" id="email" formControlName="email">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-md-6">Contraseña: </label>
          <div class="col-md-12">
            <input class="form-control" type="password" name="password" id="password" formControlName="password">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label col-md-6">Teléfono: </label>
          <div class="col-md-12">
            <input class="form-control" type="text" name="phone" id="phone" formControlName="phone">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="adminForm.invalid">Crear</button>
        </div>

      </form>
    </div>
  </div>
</div>
